footer {
  margin-top: 150px;
  height: 550px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/footer.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer {
    width: 88%;
    color: #fff;
    position: relative;
    top: 60px;
    margin-left: 6%;
    display: flex;
}
.foot1{
    height: 100%;
    width: 35%;
}
.foot1 li{
    padding-top: 25px;
    line-height: 25px;
}
.foot1 li span{
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 16px;
}
.foot2{
    height: 100%;
    width: 15%;
}
li{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    text-align: left;
    font-weight: 500;
}
.foot2 ul li {
    position: relative;
    padding-left: 20px;
  }
  .foot2 ul li::before {
    content: ">";
    position: absolute;
    left: 0;
    font-weight: bold;
  }
#li-title{
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 25px;
    list-style: none !important;
}
.foot3{
    height: 100%;
    width: 18%;
    padding-left: 35px;
}
li{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    text-align: left;
    font-weight: 500;
}
.foot3 ul li {
    position: relative;
    padding-left: 20px; /* Add space for the symbol */
  }
  .foot3 ul li::before {
    content: "✓";
    position: absolute;
    left: 0;
    font-weight: bold;
  }
#li-title{
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 25px;
    list-style: none !important;
}
.foot4{
    height: 100%;
    width: 32%;
    padding-left: 75px;
}
.icons{
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#footerhr{
    margin-top: 130px;
    width: 90%;
    margin-left: 5%;
}
.copy{
    font-size: 18px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}
.site{
    word-spacing: 35px;
}