@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cloud {
  position: absolute;
  top: 5%;
  left: 12%;
  width: 250px;
  animation: float 3s linear;
}
.cloud2 {
  position: absolute;
  top: -2%;
  left: 42%;
  width: 250px;
  animation: float2 3s linear;
}
.cloud3 {
  position: absolute;
  top: 5%;
  left: 75%;
  width: 250px;
  animation: float 3s linear;
}

.farmer {
  position: absolute;
  bottom: -36px;
  left: -1150px;
  width: 550px;
}

.windmill {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 150px;
  height: auto;
}
.wingstand {
  height: 320px;
  position: absolute;
  top: -155px;
  left: -1165px;
}
.wings {
  position: relative;
  top: -256px;
  left: -1190px;
  transform: translate(-50%, -50%);
  width: 100%;
  animation: spin 3s linear infinite;
}

.sideWing {
  position: absolute;
  top: -190px;
  left: -1070px;
  width: 60%;
}
.tractor {
  position: absolute;
  bottom: 29px;
  left: 0px;
  width: 600px;
  animation: moveTractor 5s ease-in-out forwards;
}
.land {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.birds {
  position: absolute;
  top: 16%;
  left: 15%;
  width: 100px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.birds2 {
  position: absolute;
  top: 16%;
  left: 70%;
  width: 100px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(0.1vw);
  }
}
@keyframes float2 {
  0% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(0.1vw);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTractor {
  0% {
    transform: translateX(42vw);
  }
  100% {
    transform: translateX(55vw);
  }
}

.wheatStalk {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  gap: 4px;
  position: relative;
  top: 575px;
  left: 320px;
}

.wheatStalkImg {
  height: 65px;
  width: 25px;
  opacity: 0;
}

.grow {
  animation: grow 0.8s forwards;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  background: transparent;
  backdrop-filter: blur(5px);
}
.navsection {
  height: inherit;
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 100%;
  padding: 1%;
}
.navlinks a {
  color: #4e4e4e;
  text-decoration: none;
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}
.navlinks a:hover {
  color: #2e7d32;
  text-decoration: underline; /* Add underline on hover */
  text-underline-offset: 6px; /* Optional: Adjust the distance of the underline */
}
.bt1 {
  width: 120px;
  height: 40px;
  margin-top: 9px;
  border-radius: 10px;
  border: none;
  background-color: #2e7d32;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.heroText {
  height: auto;
  width: 500px;
  position: absolute;
  top: 175px;
  left: 32%;
  text-align: center;
}
.heroName {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #111827;
  font-weight: 700;
}
.hero2 {
  font-family: "Poppins", sans-serif;
  color: #374151;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.btn1 {
  height: 42px;
  width: 150px;
  background-color: #2e7d32;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.btn1:hover {
  height: 42px;
  width: 150px;
  background-color: #2e7d32d2;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.btn2 {
  height: 42px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #2e7d32;
  color: #2e7d32;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-left: 1rem;
}
.btn2:hover {
  height: 42px;
  width: 150px;
  background-color: #2e7d3221;
  border-radius: 5px;
  border: 2px solid #2e7d32;
  color: #2e7d32;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-left: 1rem;
}
