@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
*{
  font-family: "Poppins", sans-serif;
}
.cloud {
  position: absolute;
  top: 5%;
  left: 12%;
  width: 275px;
  animation: float 3s linear;
}
.cloud2 {
  position: absolute;
  top: -2%;
  left: 42%;
  width: 275px;
  animation: float2 3s linear;
}
.cloud3 {
  position: absolute;
  top: 5%;
  left: 75%;
  width: 275px;
  animation: float 3s linear;
}

.farmer {
  position: absolute;
  bottom: -52px;
  left: -1380px;
  width: 650px;
}

.windmill {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 150px;
  height: auto;
}
.wingstand {
  height: 400px;
  position: absolute;
  top: -175px;
  left: -1450px;
}
.wings {
  position: relative;
  top: -310px;
  left: -1482px;
  transform: translate(-50%, -50%);
  width: 125%;
  animation: spin 3s linear infinite;
}

.sideWing {
  position: absolute;
  top: -225px;
  left: -1333px;
  width: 70%;
}
.tractor {
  position: absolute;
  bottom: 29px;
  left: 0px;
  width: 700px;
  animation: moveTractor 5s ease-in-out forwards;
}
.land {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.birds {
  position: absolute;
  top: 16%;
  left: 15%;
  width: 150px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.birds2 {
  position: absolute;
  top: 16%;
  left: 70%;
  width: 150px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(0.1vw);
  }
}
@keyframes float2 {
  0% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(0.1vw);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTractor {
  0% {
    transform: translateX(42vw);
  }
  100% {
    transform: translateX(55vw);
  }
}

.wheatStalk {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  gap: 4px;
  position: relative;
  top: 790px;
  left: 450px;
}

.wheatStalkImg {
  height: 65px;
  width: 25px;
  opacity: 0;
}

.grow {
  animation: grow 0.8s forwards;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  height: 72px;
  width: 1920px;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  display: flex;
  position: fixed;
  background: rgba(97, 97, 97, 0.1);
  top: 0px;
  backdrop-filter: blur(60px);
}
.navsection {
  height: 72px;
  width: 1536px;
  display: flex;
  justify-content: space-between;
  margin-left: 192px;
}
.logo {
  height: 60px; 
  width: 120px; 
  object-fit: contain; 
  padding-top: 6px;
  margin-left: 24.37px;
}

.navlinks a {
  color: #4e4e4e;
  text-decoration: none;
  padding-left: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 72px;
}
.navlinks a:hover {
  color: #2e7d32;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.bt1 {
  width: 146px;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
  border: none;
  background-color: #2e7d32;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
.heroText {
  height: 376px;
  width: 604px;
  position: absolute;
  top: 211px;
  left: 645px;
  text-align: center;
}
.heroName {
  font-size: 60px;
  color: #111827;
  font-weight: 700;
}
.hero2 {
  color: #374151;
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn {
  height: 52px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.btt1 {
  height: 52px;
  width: 193px;
  background-color: #2e7d32;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
.btt1:hover {
  background-color: #2e7d32d2;
}
.bt2 {
  height: 52px;
  width: 158px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #2e7d32;
  color: #2e7d32;
  font-size: 16px;
  margin-left: 1rem;
}
.bt2:hover {
  background-color: #2e7d3221;
}
