@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.section2 {
  font-family: "Poppins", sans-serif;
  border: 2px solid  transparent;
}
center{
  margin-top: 80px;
}
.title {
    height: 20px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
  }
  
  .line {
    flex: 3;
    width: 48px;
    border: 0.2px solid #2E7D32; 
  }
  
  .title-text {
    font-size: 14px;
    font-weight: 700;
    color: #2E7D32;
    white-space: nowrap; 
    letter-spacing: 1px;
  }
.section2 h1{
    text-align: center;
    padding-top: 20px;
    font-size: 48px;
    color: #111827;
    font-weight: 700;
}
.section2 h5{
    width: 745px; 
    text-align: center;
    font-size: 18px;
    margin-left: 587.5px;
    padding-top: 20px;
    color: #4B5563;
    font-weight: 400;
}
.gallery1 {
  height: 600px;
  width: 1488px;
  margin-left: 216px;
  margin-top: 63.5px;
  display: flex;
  justify-content: space-between;
}
.sece1 {
  height: 600px;
  width: 480px;
}
.sece1 img{
    height: 600px;
    width: 480px;
}
.sece1:hover{
  transform: scale(1.02);
  transition-duration: 0.5s;
}
.sece2 {
  height: 100%;
  width: 33%;
}
.sece2 img{
    width: 480px;
    height: 600px;
}
#im1{
    height: 270px;
    width: 480px;
}
#im1:hover{
  transform: scale(1.02);
  transition-duration: 0.5s;
}
#im2{
  margin-top: 42px;
  height: 270px;
  width: 480px;
}
#im2:hover{
  transform: scale(1.02);
  transition-duration: 0.5s;
}
.sece3 {
  height: 600px;
  width: 480px;
}
.sece3 img{
    height: 600px;
    width: 480px;
}
.sece3:hover{
  transform: scale(1.02);
  transition-duration: 0.5s;
}
.hr1{
    flex: 2;
    width: 1488px;
    border: 2px solid #b4b5b5;
    margin-left: 215.83px;
    margin-top: 24.6px;
}
.gallery2{
  margin-top: 34px;
    height: 354px;
    width: 1488px;
    margin-left: 215.63px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80.44px;
}
.gallery2 img{
    height: 354px;
    width: 354px;
}
.gallery2 img:hover{
  transform: scale(1.02);
  transition-duration: 0.5s;
}