@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 684px;
  width: 1920px (fixed);
  background: linear-gradient(rgba(76, 175, 80, 0.1), rgba(0, 0, 0, 0)),
    url("/section3-BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.text {
  height: 604px;
  width: 670px;
  margin-top: 70px;
  padding-left: 16px;
}
.img {
  height: 620px;
  width: 621px;
  margin-top: 32px;
  margin-left: 200px;
  border-radius: 24px !important;
}
.lable {
  height: 40px;
  width: 198px;
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #2e7d32;
  font-weight: bolder;
  padding-left: 8px;
  margin-top: 80px;
}
.text1 {
  font-weight: 700;
  font-size: 60px;
  color: #2e7d32;
  padding-top: 32px;
}
.text2 {
  color: #111827;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}
.text3 {
  font-weight: 400;
  font-size: 18px;
  color: #4b5563;
  line-height: 28px;
  padding-top: 16px;
}
.btns {
  width: 752px;
  height: 52px;
  display: flex;
  margin-top: 32px;
}
.btn1 {
  height: 52px;
  width: 144px;
  background-color: #2e7d32;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.btn1:hover {
  height: 52px;
  width: 144px;
  background-color: #2e7d32d2;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
.btn2 {
  height: 52px;
  width: 157px;
  border: 2px solid #2e7d32;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #2e7d32;
  margin-left: 16px;
}
.btn2:hover {
  height: 52px;
  width: 157px;
  background-color: #2e7d3221;
  border-radius: 8px;
  border: 2px solid #2e7d32;
  color: #2e7d32;
  font-size: 16px;
  margin-left: 1rem;
}
