@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sec1 {
  height: 536px;
  width: 1536px;
  margin-top: 160px;
  margin-left: 192px;
  display: flex;
  font-family: "Poppins", sans-serif;
  margin-bottom: 80px;
}
.image {
  height: 532.5px;
  width: 720px;
}
.txt {
  height: 536px;
  width: 720px;
  margin-left: 48px;
}
.txt h1 {
font-weight: 700;
font-size: 36px;
color: #111827;
}
.txt h5 {
  height: 84px;
  width: 720px;
  margin-top: 24px;
  width: 720px;
  font-size: 18px !important;
  color: #374151;
  font-weight: 400;
  line-height: 24px;
}
.counter {
  height: 76px;
  width: 720px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 12px;
}

.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.counter-number {
  font-size: 30px;
  font-weight: 700;
  color: #2e7d32;
}

.counter-title {
  font-size: 16px;
  font-weight: 400;
  color: #374151;
  margin-top: 5px;
}
.btn11 {
  height: 48px;
  width: 154px;
  margin-top: 24px;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;

}
.btn11:hover {
  background-color: #2e7d32d2;
}
